In [8]:
import pandas as pd
import sqlalchemy as alch
from sqlalchemy import create_engine

In [9]:
from getpass import getpass
password = getpass("Introduce your sql password: ")

Introduce your sql password: ········

In [12]:
dbName = "sakila"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [13]:
actor_df = pd.read_sql_query(
"""
SELECT * FROM actor LIMIT 5;
""", engine
)
actor_df.head()

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [14]:
engine = create_engine('mysql+pymysql://root:pass@localhost:3306/mydb')
query = 'SELECT * FROM actor'

actor_df = pd.read_sql_query(query, engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'